@font-face {
    font-family: "RedHatDisplay";
    src: url("../assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "RedHatDisplay";
    src: url("../assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "RedHatDisplay";
    src: url("../assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "RedHatDisplay";
    src: url("../assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
    font-weight: 900;
    font-style: normal;
  }
  
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
  
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
  
    --dark-blue: hsl(223, 47%, 23%);
}

.list--container{
    width: 90%;
}

.list--newCustomerButton{
    font-size: 3rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    color: var(--dark-blue);
  }
  
.list--titles{
    display: grid;
    grid-template-columns: 12rem 15rem 20rem 1.5fr 1fr 4rem;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: var(--dark-blue);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
  
.list--firstName,
.list--lastName{
    cursor: pointer;
}
/* ///////////////////new customer form////////////////////////////////*/


.newCustomer--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  
  padding: 2rem 2rem 4rem 2rem;
  margin-bottom: 0.5rem;
  
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.newCustomer--title{
  font-size: 1.75rem;
  color: var(--dark-blue);
}

.newCustomer--form{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 80%;
}

.newCustomer--formLabel{
  font-family: RedHatDisplay;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.newCustomer--formInput {

  height: 3rem;

  border-radius: 0.3rem;
  border: 0.1rem solid gray;
  padding: 0.5rem;
  font-family: RedHatDisplay;
  font-size: large;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-family: RedHatDisplay;
}

.newCustomer--formItem{
  display: flex;
  flex-direction: column;
}

.newCustomer--submit{
  margin-top: 1.5rem;
  height: 3rem;
  font-size: 1rem;
}

/* ///////////////////////////////////////////////////////////////////*/
  
.list--customers {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


