@font-face {
    font-family: "RedHatDisplay";
    src: url("../assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: "RedHatDisplay";
    src: url("../assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: "RedHatDisplay";
    src: url("../assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: "RedHatDisplay";
    src: url("../assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
    font-weight: 900;
    font-style: normal;
}
  
:root {
    font-family: RedHatDisplay, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
  
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
  
    --dark-blue: hsl(223, 47%, 23%);
  
    /* background: rgb(238,174,202); */
    /* background: linear-gradient(27deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 53%); */
}

.loginPage--container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--pale-blue);
}

.login--container {
    display: grid;
    margin: 0;
    
    min-width: 20rem;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.25);

    border-radius: 0.5rem;
}

.login--header{
    grid-row: 1/2;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    
    background-color: var(--bright-blue);

    border-radius: 0.5rem 0.5rem 0 0;
    color: white;
}

.login--hippo{
    height: 5rem;
    filter: brightness(0) invert(1);
    shape-rendering: geometricPrecision;
}

.login--header > h1 { 
    padding-top: 2rem;
}

.login--form,
.password--form {
    grid-row: 2/3;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0.8rem;
    padding: 0rem 1.5rem  1.5rem 1.5rem;
    background-color: white;

    position: relative;
}

.login--form > p,
.password--form > p {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--desaturated-blue);
    margin-bottom: 0;
}

.login--title,
.password--title{
    color: var(--dark-blue);
    font-size: xx-large; 
    font-weight: 700;
}

.password--noMatch {
    color: crimson;
    margin: 0;
    padding: 0;

    font-size: 0.8rem;

    position: absolute;
    left: 2.5rem;
    bottom: 8.6rem;
}

.login--wrongPass {
    color: crimson;
    margin: 0;
    padding: 0;

    font-size: 0.8rem;

    position: absolute;
    left: 2.5rem;
    bottom: 8.6rem;
}

.login--input{
    margin-top: 0.5rem;
}

.login--input,
.password--input {
    width: 90%;
    margin-bottom: 1.5rem;
    /* height: 2.5rem; */
    border-radius: 0.3rem;
    border: 0.1rem solid gray;
    padding: 0.5rem;
    font-family: RedHatDisplay;
    font-size: large;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-family: RedHatDisplay;
}

.login--submit,
.password--submit {
    width: 5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: white;
    background-color: var(--bright-blue);
    border: none;   
    cursor: pointer; 
    font-family: RedHatDisplay;
    font-weight: 500;
}
